<link rel="import" href="/libs/polymer/polymer.html">

<link rel="import" href="/libs/paper-ripple/paper-ripple.html">
<link rel="import" href="/libs/paper-icon-button/paper-icon-button.html">

<polymer-element name="task-item">
    <template>
        <link rel="stylesheet" href="task-item.css">

        <div class="task clear">
            <paper-ripple fit></paper-ripple>
            <div flex class="task-text">
                <template if="{{ mode != 'edit' && mode != 'time' }}">
                    <span class="{{ {closed: !!task.closed} | tokenList }}">{{ task.name }}</span>
                </template>
                <template if="{{ mode == 'edit' }}">
                    <paper-input flex on-change="{{ saveTask }}" value="{{ task.name }}"></paper-input>
                </template>
                <template if="{{ mode == 'time' }}">
                    <paper-input number on-change="{{ saveTime }}" value="{{ task.duration }}"></paper-input>
                    <div flex>in minutes</div>
                </template>
            </div>

            <template if="{{ mode == 'detail' }}">
                <ul >
                    <li>id: {{ task.id }}</li>
                    <li>created: {{ task.created }}</li>
                    <template if="{{ !!task.closed }}">
                        <li >closed: {{ task.closed }}</li>
                    </template>
                    <li>duration: {{ task.duration }} minutes</li>
                </ul>
            </template>

            <div class="controls">
                <paper-icon-button icon="arrow-drop-down-circle" class="detail" on-click="{{ detailTask }}"></paper-icon-button>
                <paper-icon-button icon="alarm" class="time" on-click="{{ addTime }}"></paper-icon-button>
                <paper-icon-button icon="create" class="edit" on-click="{{ editTask }}"></paper-icon-button>
                <paper-icon-button icon="clear" class="close" on-click="{{ closeTask }}"></paper-icon-button>
            </div>
        </div>

    </template>
    <script src="task.js"></script>
    <script src="task-item.js"></script>
</polymer-element>