.clear:after {
  content: '';
  clear: both;
  display: table;
}

.task {
  position: relative;
  padding: 1em;
  margin: 1em;
  border-bottom: 1px solid grey;
}

.task .task-text {
  margin: 0.5em;
  font-size: 2em;
}

.task .task-text > span.closed {
  text-decoration: line-through;
}

.task paper-input {
  font-size: .7em;
  float: left;
}

.task paper-input + div {
  float: left;
}

.task .controls {
  position: absolute;
  top: 1em;
  right: 1em;
}

paper-icon-button.close {
  color: red;
}