core-toolbar {
  height: 70px;
  padding: 0 10px;
  background-color: #4F7DC9;
  color: #FFF;
  transition: height 0.2s;
  min-width: 500px;
}

core-toolbar paper-input {
  width: 100%;
}

.content {
  padding: 20px;
  background: linear-gradient(rgb(214, 227, 231), lightblue);
}