<link rel="import" href="/libs/polymer/polymer.html">

<link rel="import" href="/libs/core-toolbar/core-toolbar.html">
<link rel="import" href="/libs/core-icons/core-icons.html">
<link rel="import" href="/libs/paper-button/paper-button.html">
<link rel="import" href="/libs/paper-input/paper-input.html">
<link rel="import" href="/libs/core-ajax/core-ajax.html">

<link rel="import" href="../task-item/task-item.html">

<polymer-element name="task-list">
    <template>
        <link rel="stylesheet" href="task-list.css">

        <core-toolbar>
            <h1>Eyelevel Tasks</h1>
            <span flex>
                <paper-input floatinglabel label="Enter new task" on-change="{{ createTask }}" value="{{ newTask }}"></paper-input>
            </span>
        </core-toolbar>

        <div class="content">
            <template repeat="{{ task, i in tasks }}">
                <task-item
                    task="{{ task }}"
                    index="{{ i }}"
                    on-task-close="{{ closeTask }}"
                    on-task-save="{{ saveTask }}"
                    on-task-time="{{ timeTask }}">
                </task-item>
            </template>
        </div>

        <core-ajax
            auto
            method="{{ request.method }}"
            url="{{ request.url }}"
            body="{{ request.body }}"
            handleAs="json"
            on-core-response="{{ handleResponse }}">
        </core-ajax>

    </template>
    <script src="task-list.js"></script>
</polymer-element>